//extra variables
$veryDarkGray: #1a1a1a;
$highlightGray: #515151;
$loansharkOrange: #FE8A28;
$button-gradient: flat;
$button-radius: 0;
$include-button-highlights: false;
$active-color: $loansharkOrange;
$alert-color: rgba(150,150,150,1);
$base-color: rgba(68,68,68,1);
$base-gradient: flat;
$include-highlights: false;
$page-bg-color: rgba(0,0,0,1);
$form-field-height: 2.2em;
$form-fieldset-radius: 0;
$form-bg-color: rgba(0,0,0,1);
$form-dark: rgba(150,150,150,1);
$form-light: rgba(0,0,0,1);
$form-spacing: 0.2em;
$toolbar-gradient: flat;

@import 'sencha-touch/default';
@import 'sencha-touch/default/all';


.tpl-2z95517n {
.summary-contents {
    width: 100%;
    line-height: 2em;
    font-size: 1.5em;
    font-weight: bold;
    text-align: center;
    color: lightgray;
    padding-bottom: 0.5em;
}

}

.loanshark-item-container {

.contact-list-item-detail {
    padding-left: 12px;
    padding-top: 4px;
    padding-bottom: 4px;
}
.contact-name {
    font-size: 1.3em;
    text-overflow:ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
.contact-balance {
    font-size: 0.7em;
    text-overflow:ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

}

.loanshark-item-container {

.debt-list-item-detail {
    padding-left: 12px;
    padding-top: 4px;
    padding-bottom: 4px;
}
.debt-date-name {
    font-size: 0.7em;
    text-overflow:ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
.debt-balance {
    font-size: 1.3em;
    text-overflow:ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

}

.loanshark-item-container {

.payment-list-item-detail {
    padding-left: 12px;
    padding-top: 4px;
    padding-bottom: 4px;
}
.payment-date {
    font-size: 0.7em;
    text-overflow:ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
.payment-amount {
    font-size: 1.3em;
    text-overflow:ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

}

//icons
.icon-back {
    -webkit-mask-image: url(../images/icon-back.png);
}
.icon-save {
    -webkit-mask-image: url(../images/icon-save.png);
}
.icon-email {
    -webkit-mask-image: url(../images/icon-email.png);
}
.icon-add-debt {
    -webkit-mask-image: url(../images/icon-add-debt.png);
}
.icon-add-contact {
    -webkit-mask-image: url(../images/icon-add-contact.png);
}
.icon-home {
    -webkit-mask-image: url(../images/icon-home.png);
}
.icon-debt {
    -webkit-mask-image: url(../images/icon-debt.png);
}
.icon-contacts {
    -webkit-mask-image: url(../images/icon-contacts.png);
}

.icon-back, .icon-save, .icon-email, .icon-add-debt, .icon-add-contact, .icon-home, .icon-debt, .icon-contacts {
    background-color: lightgray;
    -webkit-mask-size: contain;
}
//general overrides
.x-button {
    border: 0px !important;
    background: transparent !important;
}
.x-button.x-button-action {
    color: $loansharkOrange !important;
}
.x-tab-active::after {
    content: ' ';
    width: 100%;
    height: 8px;
    background-color: darkred;
    bottom: 0px;
    left: 0px;
    display: block;
    position: absolute;
}
.x-label {
    margin: 0 10px 0 10px;
    padding-bottom: 4px;
    color: lightgray;
    border-bottom: 2px solid $loansharkOrange;
}
//form specific
.x-form-fieldset-inner {
    background-color: transparent !important;
}
.x-form-label {
    text-shadow: none;
    background-color: transparent;
    border-top-style: none !important;
    border-bottom: 1px solid $loansharkOrange;
}
.x-input-el {
    background-color: $veryDarkGray;
    color: white;
    -webkit-text-fill-color: white !important;
}
.x-clear-icon {
    background-color: $veryDarkGray !important;
    background-image: url(../images/clear_icon.png) !important;
}
.x-field-select .x-component-outer:after {
    @include radiomark($loansharkOrange, 16px);
}
.x-picker-inner {
    background-color: $veryDarkGray !important;
    color: white;
    .x-picker-slot {
        border-left: 1px solid $highlightGray;
    }
    .x-first {
        border-left: none;
    }
}
.x-select-overlay .x-scroll-view {
    background-color: $veryDarkGray;
    .x-list-item, .x-item-selected {
        color: white !important;
        border-top-color: black;
    }
    .x-list-footer-wrap {
        border-bottom-color: black !important;
    }
    .x-item-selected:after {
        color: white;
    }
}
//lists overrides
.x-data-item-inner {
    padding: 4px 10px 4px 10px;
}
.x-dataview-emptytext {
    padding: 10px;
    font-size: 1.3em;
    color: lightgray;
}

//loanshark class specific
.loanshark-main-tab {
    padding: 0 !important;
    .x-button-label {
        display: none;
    }
}
.loanshark-header-label {
    text-align: center;
    background-color: $loansharkOrange;
    color: white;
    margin: 0;
    .sub-title {
        font-size: 1em;
        display: flex;
        justify-content: center;
    }
    .title {
        font-size: 2em;
        font-weight: bold;
        display: flex;
        justify-content: center;
    }
    .sub-title:first-child, .title:first-child {
        padding-top: 12px;
    }
}
.loanshark-add-button, .loanshark-item-delete-button {
    background-color: $highlightGray !important;
    color: $loansharkOrange;
    margin: 10px;
    border-radius: 4px;
    border: 2px solid $loansharkOrange !important;
}
.loanshark-item-container {
    color: lightgray;
    background-color: $veryDarkGray;
    border-radius: 4px;
}